@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'comfortaa';
  src: url('../assets/fonts/comfortaa.ttf');
}

@font-face {
  font-family: 'nickainley';
  src: url('../assets/fonts/nickainley.otf');
}